body {
    background-color: #abc1d1;
}


/********************* menu *********************/

.menu-form {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    opacity: 70%;
}

.menu-form > div {
    display: inline-flex;    
}

.menu-form > .go-back {
    width: 25%;
    text-align: start;
    font-size: 50px;
    justify-content: flex-start;
    align-items: center;
}

.go-back > i {
    cursor: pointer;
}

.menu-form > .chat-name {
    width: 50%;    
    font-size: xx-large;
    font-weight: bold;
    justify-content: center;
    align-items: center;  
}

.menu-form > .etc {
    width: 25%;
    text-align: end;
    font-size: x-large;
    justify-content: flex-end;
    align-items: center;
}

.etc > i {
    margin-left: 1rem;
}


/********************* messages *********************/

.profile-img {
    width: 60px;
    height: 60px;
    margin-right: 0.5rem;
	border-radius: 50%;
}

.chat-start-date-form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.chat-start-date-form > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 40px;
	background-color: #92a4b2;
    color: white;
}

.sended-at {
    opacity: 70%;
    font-size: small;
}

.message-from-the-other {
    display: flex;
    margin: 1rem;
}

.message-from-the-other > .contents > .message {
    padding: 1rem;
    margin-top: 0.3rem;
    font-size: larger;
    background-color: white;
    border-radius: 0 17px 17px 17px;
}

.message-from-the-other > .contents > .user-name {
    margin: 0;
    opacity: 70%;
}

.message-from-the-other > .etc {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}

.message-from-me {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.message-from-me > .contents > .message {
    padding: 1rem;
    font-size: larger;
    background-color: #fae100;
    border-radius: 17px 0px 17px 17px;
}

.message-from-me > .etc {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
}


/********************* input message *********************/

.input-form__wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background: white;
}

.input-form__wrapper > .etc {
    width: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.input-form__wrapper > .etc > i {
    font-size: 23px;
    opacity: 70%;
    margin: 0;
    color: gray;
}

.input-form {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 2.1rem;
    margin-left: 1rem;
}

.write-message__wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    height: 55px;
    bottom: 0;
    left: 0;
}

.write-message {
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-top: 5.8px;
    margin-bottom: 5.3px;
    margin-left: 5rem;
    margin-right: 2rem;
    padding-left: 1rem;
    border: 1px solid rgba(46, 49, 49, 0.3);
}

.write-message:focus {
    outline: none;
}

.button__wrapper {
    display: flex;
    z-index: 1;
}

.button__wrapper > .emoticon > i {
    font-size: 23px;
    opacity: 50%;
    margin: 0.7rem;
}

.button__wrapper > .submit > i {
    font-size: 14px;
    margin: 0.7rem;
}

.emoticon {
    width: 40px;
    min-width: 40px;
    margin: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    width: 40px;
    min-width: 40px;
    background-color: #fae100;
    border-radius: 50%;
    margin: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
