body {
    background-color: #abc1d1;
}

/********************* menu *********************/
.menu-form {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    opacity: 70%;
}

.menu-form > div {
    display: inline-flex;    
}

.menu-form > .go-back {
    width: 25%;
    text-align: start;
    font-size: 50px;
    justify-content: flex-start;
    align-items: center;
}

.menu-form > .chat-name {
    width: 50%;    
    font-size: xx-large;
    font-weight: bold;
    justify-content: center;
    align-items: center;  
}

.menu-form > .etc {
    width: 25%;
    text-align: end;
    font-size: x-large;
    justify-content: flex-end;
    align-items: center;
}

.etc > i {
    margin-left: 1rem;
}

/********************* messages *********************/
.profile-img {
    width: 60px;
    height: 60px;
    margin-right: 0.5rem;
	border-radius: 50%;
}

.chat-start-date-form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.chat-start-date-form > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 40px;
	background-color: #92a4b2;
    color: white;
}

.message-from-the-other {
    display: table;
    margin: 1rem;
}

.message-from-the-other > .profile {
    display: table-cell;
    vertical-align: middle;
}

.message-from-the-other > .contents {
    display: table-cell;
    vertical-align: middle;
}

.message-from-the-other > .contents > .user-name {
    opacity: 70%;
}

.message-from-the-other > .etc {
    display: table-cell;
    vertical-align: bottom;
}

.message-from-me {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;
}

.message {
    padding: 1rem;
    font-size: larger;
}

.sended-at {
    opacity: 70%;
    font-size: small;
}

/********************* input message *********************/

