.find-form > .header {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.find-form > .header > .title {
    font-size: xx-large;
    font-weight: bold;
}

.etc {
    font-size: x-large;
}

.etc > i {
    margin-left: 1rem;
}

.find {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.find-icon {
    font-size: 2.5rem;
}

.find-icon__wrapper {
    text-align: center;
}

.recommended-friends > .header {
    padding-left: 1rem;
    font-size: 15px;
    opacity: 40%;
}

.recommended-friends > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    opacity: 40%;
}

.open-chats > .header {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    opacity: 40%;
}

.open-chats > .header > .title {

}

.open-chats > .header > .back-home {

}

