.more-form > .header {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.more-form > .header > .title {
    font-size: xx-large;
    font-weight: bold;
}

.etc {
    font-size: x-large;
}

.etc > i {
    margin-left: 1rem;
}

.more {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.more i {
    font-size: 2rem;
}

.more-icon__wrapper {
    text-align: center;
}

.profile-img {
    height: 7rem;
    width: 7rem;
}

.profile {
    display: flex;    
}

.profile > .profile-img {
    width: 100px;
    height: 100px;
    margin-right: 0.5rem;
}

.profile .name {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
}

.profile .tell {
    margin-top: 0.2rem;
    font-size: 1.1rem;
    font-weight: lighter;
    color: gray;
    opacity: 70%;    
}

.profile > .comment {
    display: flex;
    align-items: center;
    margin-left: 7rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}
