.more-form > .header {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.more-form > .header > .title {
    font-size: xx-large;
    font-weight: bold;
}

.etc {
    font-size: x-large;
}

.etc > i {
    margin-left: 1rem;
}

.more {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.more-icon {
    font-size: 2.5rem;
}

.more-icon__wrapper {
    text-align: center;
}

.profile-img {
    height: 7rem;
    width: 7rem;
}

.chat > .profile {
    display: table-cell;
    width: 100px;
}

.chat > .profile > .profile-img {
    width: 100px;
    height: 100px;
    margin-right: 0.5rem;
}

.chat > .etc {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.chat > .etc > .sended-at {
    margin-bottom: 0.3rem;
	font-size: medium;
    color: gray;
    opacity: 70%;
}
