body {
	font-family: Helvetica, sans-serif;	
}

#not-phone {
	display: none;
	font-size: xx-large;
}

#phone {
	display: block;
}

#status {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#status > .wifi {
	text-align: left;
}

#status > .time {
	text-align: center;
}

#status > .beterry {
	text-align: right;
}

.login-input {
	border-bottom-width: 1px;
	border-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	border-top: none;
	border-left: none;
	border-right: none;
	height: 3rem;
	font-size: 18px;
}

.text-gray {
	color: rgba(0, 0, 0, 0.5);
}

.login-input:focus {
	outline: none;
	border-bottom-color: yellow;
}

.loading-form {
	background-color: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media ( min-width: 650px ) {
	body {
		background-color: yellow;
		text-align: center;
	}
	#not-phone { 
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: black;
	}
	#phone {
		display: none;
	}
}